
    /* background: linear-gradient(to right, #3333cc 0%, #ff507c 100%);
    background: linear-gradient(to right, #28d4b8 21%,  #06cdf0 100%); */
*{
    font-family: 'Raleway', sans-serif;
}
.preto{
    position: relative;
    width: 100%;
    margin-bottom: -10%;
    z-index: 1;
}
.preto1{
    width: 100%;
    padding-bottom: 56%;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    z-index: 2000;
}
video{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.hom{
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 200;
    margin-top: 0%;
    margin-left: 0%;
    z-index: 2000;
}
.home{
    position: absolute;
    top: 35%;
    left: 20%;
    color: rgb(255, 255, 255);
    font-size: 67px;
    font-weight: 100;
    z-index: 2000;
}
.home1{
    position: absolute;
    top: 48%;
    left: 28%;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 700;
    z-index: 2000;
}
.home2{
    position: absolute;
    top: 64%;
    left: 44%;
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    color: black;
    border-radius: 26px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 2000;
}
.home2:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7;
    border-radius: 26px;
    cursor: pointer;
}
nav{
    z-index: 2000;
    position: absolute;
    width: 90%;
    top: 90%;
    padding-left: 10%;
    background: linear-gradient(to right, #3333cc 0%, #ff507c 100%)

}
.logo1{
    z-index: 2000;
    margin-bottom: 1%;
    margin-top: 1%;
}
.bb{
    position: absolute;
    top: 41%;
    width: 70%;
    left: 30%;
}
.b{
    margin-left: 5%;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.b:hover{
    color: #1cc9e7;
}
.bbb{
    cursor: pointer;
    position: absolute;
    left: 92%;
    color: white;
    font-size: 24px;
 
}
.dupla,.dupla1{
    display: flex;
    flex-direction: row;
}
.teclado{
    width: 49%;
    margin-top: 56%;
}
.texto{
    margin-top: 56%;
}
h1{
    position: absolute;
    padding-top: 8%;
    padding-left: 20%;
    color: #1cc9e7;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
   
}
h2{
    position: absolute;
    padding-top: 7%;
    padding-left: 13%;
    color: #000000;
    font-size: 45px;
    text-align: center;
    font-weight: 500;
}
h3{
    position: absolute;
    padding-top: 13%;
    padding-left: 4%;
    color: #696969;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}

.note{
    width: 49%;
    margin-left: 51%;
}
.botao{
    position: absolute;
    top: 156%;
    left: 69%;
    background-color: #1cc9e7;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 2000;
}
.botao:hover{
    color: rgb(255, 255, 255);
    background-color: #600783;
    border-radius: 26px;
    cursor: pointer;
    
}
.botao1{
    position: absolute;
    top: 224%;
    left: 21%;
    background-color: #600783;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 2000;
}
.botao1:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7;
    border-radius: 26px;
    cursor: pointer;
    
}
.blue{
    background: linear-gradient(to right, #28d4b8 21%,  #06cdf0 100%); 
    width: 100%;
    padding-bottom: 25%;
}

.texto2{
    color: white;
    font-size: 65px;
    font-weight: 500;
    text-align: center;
    padding-top: 7%;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
}
.bolao{
    position: absolute;
    margin-top: 7%;
    margin-left: -81%;
    text-align: center;
}
.bolao2{
    position: absolute;
    margin-top: 7%;
    margin-left: -41%;
    text-align: center;
}
.bolao3{
    position: absolute;
    margin-top: 7%;
    margin-left: 1%;
    text-align: center;
}
.bolao4{
    position: absolute;
    margin-top: 7%;
    margin-left: 43%;
    text-align: center;
}
.bolao5{
    position: absolute;
    margin-top: 6%;
    margin-left: 80%;
    text-align: center;
}
.ti1{
    margin-top: 32%;
    margin-bottom: 0%;
    color: white;
    font-size: 18px;
    font-weight: 700;


}
.te1{
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    font-size: 12px;
    font-weight: 500;
 

}

.bola{
    border-radius: 50%;
    padding: 17%;
    margin-top: 5%;
    margin-bottom: 0%;
    border: 1px solid white;
    color: white;
    font-size: 35px;
    font-weight: 600;
    width: 3%;
}

.bolao:hover .bola,.bolao2:hover .bola ,.bolao3:hover .bola,
.bolao4:hover .bola,.bolao5:hover .bola{
    cursor: pointer;
    background-color: white;
    color: #06cdf0;
} 
.bolao:hover,.bolao2:hover,.bolao3:hover,.bolao4:hover,.bolao5:hover{
    cursor: pointer;
}

.spco1{
    position: absolute;
    margin-left: 36.3%;
    margin-top: 7%;
    width: 10.4%;
    border-bottom:1px solid white;
}
.spco2{
    position: absolute;
    margin-left: 54.1%;
    margin-top: 7%;
    width: 10.4%;
    border-bottom:1px solid white;
}

.spco3{
    position: absolute;
    margin-left: 71.7%;
    margin-top: 7%;
    width: 10.4%;
    border-bottom:1px solid white;

}
.spco4{
    position: absolute;
    margin-left: 19.5%;
    margin-top: 7%;
    width: 9.8%;
    border-bottom:1px solid white;
}
.mm{
    position: absolute;
    margin-top: 6%;
    text-align: center;
    margin-left: 1%;
}
.c1{
    position: absolute;
    top: 0%;
    left:0%;
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 2%;
    text-align: center;
}
.c2{position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2%;
    text-align: center;
}
.c3{position: absolute;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2%;
    line-height: 15px;
    text-align: center;
}
.abc{
    padding-top: 5%;
    padding-bottom: 50%;
    text-align: center;
    background-color: rgb(236, 236, 236);
}
.g1{
    
    color: #1cc9e7;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
   
}
.g2{
  
    color: #000000;
    font-size: 57px;
    text-align: center;
    font-weight: 500;
}
.g3{
    color: #696969;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}
.dupla2{
    display: flex;
    flex-direction: row;
    position: relative;
}

.branca{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding-bottom: 39%;
    padding-left: 19%;
    padding-right: 21%;
    margin-left:9%;
    z-index: 200;
  
}
.branca1{
    position: absolute;
    left: 44%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 39%;
    padding-left: 19%;
    padding-right: 21%;
    margin-left:9%;
   
}
.mulher{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
   
    
}
.homem{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
  
}
.nome1{
    position: absolute;
    top: 90%;
    left: 4%;
    width: 92%;
    height: 13%;
    color: white;
    padding-top:4%;
    background: linear-gradient(to right, #3333cc 0%, #ff507c 100%);
}
.na1{
    font-size: 32px;

}
.na2{
    font-size: 12px;
}
.nome2{
    position: absolute;
    top: 90%;
    left: 4%;
    width: 92%;
    height: 13%;
    color: white;
    padding-top:4%;
    background: linear-gradient(to right, #28d4b8 21%,  #06cdf0 100%);
}

.hh3{
    
    padding-top: 7%;
    padding-left: 4%;
    color: #000000;
    font-size: 45px;
    text-align: left;
    font-weight: 500;
}
.hhh3{
    padding-top: 8%;
    padding-left: 4%;
    color: #1cc9e7;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}

.hhh{
    
    padding-top: 13%;
    padding-left: 4%;
    color: #696969;
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    line-height: 25px;

}
.botao3{
   
    background-color: #600783;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 25%;
    margin-left: 4%;
    z-index: 2000;
}
.botao3:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7;
    border-radius: 26px;
    cursor: pointer;
    
}
.tab{
    position: absolute;
    top: 70%;
    width: 40%;
    margin-left: 56%;
    margin-top: 195%;
  
}
.trio1,.trio2{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 200;
}
.abc1{
    position: relative;
    margin-top: 5%;
    padding-top: 10%;
    padding-bottom: 7%;
    background-color: rgb(236, 236, 236);
}
.limini{
    width: 27%;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: -3%;
}
.abc2{
    margin-top: 5%;
    padding-top: 10%;
    padding-bottom: 7%;

}
.dupla6{
    position: relative;
    display: flex;
    flex-direction: column;
}

.linha2,.linha3{
    position: absolute;
}
.linha2{
    margin-left: 28%;
    margin-top: 7%;
}
.linha3{
    margin-left: 63%;
    margin-top: 7%;
}

.celular{
    position: absolute;
    left: 39%;
    margin-top: 4%;
}

.ti2{
    padding-right: 113%;
    margin-top: -37%;
    margin-left: -113%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    text-align: right;
   

}
.te2{
  
    padding-right: 113%;
    margin-left: -114%;
    margin-bottom: 57%;
    color: rgb(146, 146, 146);
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    line-height: 21px;
 

}
.ti22{
    padding-left: 1%;
    margin-left: 61%;
    margin-right: -108%;
    margin-top: -37%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    text-align: left;

}
.te22{
    padding-left: 1%;
    margin-left: 61%;
    margin-right: -108%;
    margin-bottom: 57%;
    color: rgb(146, 146, 146);
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    line-height: 21px;
 

}
.bola1{
    border-radius: 50%;
    padding: 12%;
    margin-top: 5%;
    margin-bottom: 0%;
    border: 1px solid white;
    color: white;
    background-color:  #1cc9e7;
    font-size: 35px;
    font-weight: 600;
    width: 3%;
    border: solid 1px #1cc9e7;
}
.bola2{
    border-radius: 50%;
    padding-bottom: 16%;
    padding-top: 16%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    margin-bottom: 0%;
    border: 1px solid white;
    color: white;
    background-color:  #1cc9e700;
    font-size: 35px;
    font-weight: 600;
    width: 3%;
    border: solid 1px #1cc9e7;
}
.bola12{
    border-radius: 50%;
    padding-bottom: 11%;
    padding-top: 11%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
    border: 1px solid white;
    color: white;
    background-color:  #1cc9e7;
    font-size: 35px;
    font-weight: 600;
    width: 3%;
    border: solid 1px #1cc9e7;
}
.bola21{
    border-radius: 50%;
    padding-bottom: 16%;
    padding-top: 16%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    border: 1px solid white;
    color: white;
    background-color:  #1cc9e700;
    font-size: 35px;
    font-weight: 600;
    width: 3%;
    border: solid 1px #1cc9e7;
}
.bola31{
    border-radius: 50%;
    padding-bottom: 12%;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    border: 1px solid white;
    color: white;
    background-color:  #1cc9e7;
    font-size: 27px;
    font-weight: 600;
    width: 3%;
    border: solid 1px #1cc9e7;
}
.bola32{
    border-radius: 50%;
    padding-bottom: 16%;
    padding-top: 16%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    border: 1px solid white;
    color: white;
    background-color:  #1cc9e700;
    font-size: 35px;
    font-weight: 600;
    width: 3%;
    border: solid 1px #1cc9e7;
}
.bolao6:hover .bola12,.bolao7:hover .bola1,.bolao8:hover .bola1,
.bolao9:hover .bola31,.bolao10:hover .bola1,.bolao11:hover .bola1{
    cursor: pointer;
    background-color:  #600783;
    border: 1px solid #600783;
    color: #ffffff;
} 
.bolao6:hover .bola21,.bolao7:hover .bola2,.bolao8:hover .bola2,
.bolao9:hover .bola32,.bolao10:hover .bola2,.bolao11:hover .bola2{
    cursor: pointer;
    background-color:  #60078300;
    border: 1px solid #600783;
    color: #ffffff;
} 
.bolao6:hover,.bolao7:hover,.bolao8:hover,.bolao9:hover,.bolao10:hover,.bolao11:hover{
    cursor: pointer;
    
}
.gradiente{
    margin-top: 45%;
    color: rgb(255, 255, 255);
    padding-bottom: 8%;
    background: linear-gradient(to right, #3333cc 0%, #ff507c 100%);
}

.textos{
    padding-top: 12%;
    padding-left: 12%;
}
.our,.num,.pp{
    font-size: 35px;
    font-weight: 800;
}
.num{
    margin-top: 44%;
}
.num1{
    margin-top: 29%;
    font-size: 35px;
    font-weight: 800;
}
.pp{
    margin-bottom: 15%;
}

.numeral{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-right: 10%;
    margin-top: -14%;
    text-align: center;
}
.sati{
    margin-top: 5%
}
.we{
    margin-top: 5%;
    font-size: 17px;
    line-height: 27px;    
}
.smile,.ling,.desk{
    margin-left: 4%;
}
.agua{
    background-color: rgb(201, 201, 201);
    padding-bottom: 7%;
}
.agua1{
    background-image: url("../img/nadar.jpg");
    background-size: 100% 60%;
    background-repeat: no-repeat;
}

.g11{
    
    padding-top: 10%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
   
}
.g22{
  
    color: #ffffff;
    font-size: 57px;
    text-align: center;
    font-weight: 500;
}
.g33{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
  
}
.branco1{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
.branco{
    background-color: white;
    margin-right: -11%;
    margin-left: 13%;
    padding: 4%;
    padding-bottom: 8%;
    border-radius: 15px;
    text-align: center;

}
.branco2{
    background-color: white;
    margin-right: -11%;
    margin-left: 13%;
    padding: 4%;
    padding-bottom: 8%;
    border-radius: 15px;
    text-align: center;

}
.branco:hover{
    color:white;
    background-color: #1cc9e7;
  

}
.branco2:hover{
    color:white;
    background-color: #600783;
 

}
.branco2:hover .brand {
    color: rgb(255, 255, 255);
    border-bottom:1px solid rgb(255, 255, 255);

}
.branco2:hover .tar {
    color: rgb(255, 255, 255);
   
}
.branco:hover .brand {
    color: rgb(255, 255, 255);
    border-bottom:1px solid rgb(255, 255, 255);

}
.branco:hover .tar {
    color: rgb(255, 255, 255);
   
}
.branco:hover .cifrao{
    color: rgb(255, 255, 255);
   
}
.branco2:hover .cifrao{
    color: rgb(255, 255, 255);
   
}
.branco2:hover .cifrao2{
    color: rgb(255, 255, 255);
   
}

.branco2:hover .gett2{
    border: 1px solid rgb(255, 255, 255);
     
  }
.branco:hover .gett{
    border: 1px solid rgb(255, 255, 255);
}
.cifrao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #1cc9e7;
    font-weight: 700;
}
.cifrao2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #600783;
    font-weight: 700;
}
.tar{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 20%;
    padding-top: 2%;
    text-align: center;
    line-height: 25px;
}
.tar:hover{

    color:white;
}

.brand{
    color: rgb(160, 160, 160);
    font-size: 14px;
    text-align: center;
    border-bottom:1px solid rgb(160, 160, 160);
    line-height: 50px;

}
.gett{
    margin-top: 40%;
    background-color: #1cc9e7;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
   
}
.gett:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 26px;
    cursor: pointer;
    
}
.gett2{
    margin-top: 40%;
    background-color: #600783;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
   
}
.gett2:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 26px;
    cursor: pointer;
    
}
.branco:hover .cifrao{
    color: rgb(255, 255, 255);
   
}
.chuva{
    background-image: url("../img/chuva.jpg");
    background-size: 100% 69%;
    padding-bottom: 25%;
    background-repeat: no-repeat;
}
.ch1{
    color: rgb(255, 255, 255);
    text-align: left ;
    margin-left: -7%;
}
.ch2{
    color: rgb(255, 255, 255);
    text-align: left 
}

.botao111{
    background-color: #1cc9e7;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 15%;
    margin-left: 13%;
  
}
.botao111:hover{
    color: rgb(255, 255, 255);
    background-color: #600783;
    cursor: pointer;
}
.aspas,.donec,.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aspas{
    z-index: 2000;
}
.donec{
    z-index: 200;
    margin-top: 5%;
    position: relative;
}
.oo{
    position: absolute;
    top: -28%;
    left: 13.8%;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    background-color: #1cc9e7;
    padding: 2%;
   

}
.ooo{
    position: absolute;
    top: -28%;
    left: 47%;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    background-color: #600783;
    cursor: pointer;
    padding: 2%;
   }
.oooo{
    position: absolute;
    top: -28%;
    left: 80%;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    background-color: #1cc9e7;
    padding: 2%;
 }
.donec1{
   color: rgb(163, 163, 163);
   font-weight: 500;
   line-height: 25px;
   text-align: center;
   background-color: rgb(223, 223, 223);
   margin-top: -1%;
   margin-left: 4%;
   margin-right: 5%;
   padding-top: 5%;
   padding-left: 2%;
   padding-right: 2%;
  padding-bottom: 4%;
   font-size: 14px;
 
}
.donec1:hover{
    background-color:#1cc9e7;
    color: rgb(255, 255, 255);
}
.donec11{
    color: rgb(163, 163, 163);
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    background-color: rgb(223, 223, 223);
    margin-top: -1%;
    margin-left: 4%;
    margin-right: 5%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    font-size: 14px;
    
 }

.donec11:hover{
    background-color:#600783;
    color: rgb(255, 255, 255);
}
.fotinho{
   position: relative;

}
.sam{
    position: absolute;
    top: 25%;
    left: 6%;
    width: 18%;
    border-radius: 50%;
    padding:10%
}
.sam2{
    position: absolute;
    top: 25%;
    left: 31%;
    width: 18%;
    border-radius: 50%;
    padding:10%;
  
}
.sam3{
    position: absolute;
    top: 25%;
    left: 55%;
    width: 18%;
    border-radius: 50%;
    padding:10%;
} 
.nome3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25%;
}
.home3{
    position: absolute;
    top: 140%;
    left: 11%;
}
.mule2{
    position: absolute;
    top: 140%;
    left: 46%;
}
.home7{
    position: absolute;
    top: 140%;
    left: 78%;
}
.perf{
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5%;
    text-align: center;
}
.busi{
    color:#1cc9e7;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-left: 17%;
}
.enva{
  width: 13%;
    margin-top: 19%;
    margin-left: 10%;
    margin-right: -7%;
}
.falantes{
    width: 49%;
    margin-top: 14%;
}
.texto111{
    margin-top: 14%;
    background-color:rgb(243, 239, 239);
    width: 100%;
}
.botao0{
       background-color: #600783;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 50%;
    margin-left: 40%;
    z-index: 2000;
}
.botao0:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7;
    border-radius: 26px;
    cursor: pointer;
    
}
.g10{
    margin-top: 15%;
    margin-left: 5%;
    color: #1cc9e7;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
   
}
.g20{
    margin-left: 5%;
    color: #000000;
    font-size: 57px;
    text-align: left;
    font-weight: 500;
}
.west{
    margin-left: 1%;
    margin-bottom: 20%;
    padding-top: 3%;    
    color: #696969;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    line-height: 24px;
}
.dupla7,.dupla8{
    display: flex;
    flex-direction: row;
}
.dupla7{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 2%;
}
.dupla8{
  
    margin-left: 4%;
    margin-right: 2%;
}
.dupla7b{
    margin-left: 4%;
    margin-right: 6%;
}
.dupla8b{
    margin-left: 7%;
    margin-right: 6%;
}
.ca{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 16px;
    

}
.cb{
    color:  rgb(185, 185, 185);
    font-weight: 500;
    font-size: 14px;
   

}
.cc{
    color: rgb(28, 201, 231);
    font-weight: 900;
    font-size: 12px;
  
}
.cc:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.final{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 1%;
}

.rede1{
   
    color: rgb(156, 155, 155);
    font-size: 25px;
    text-align: center;
    margin-top: 10%;
    border-radius: 50%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
     

}
.rede{
   
    color: rgb(156, 155, 155);
    font-size: 25px;
    text-align: center;
    margin-top: 10%;
    border-radius: 50%;
    padding: 2%;
    margin-left: 3%;
 
}
.rede:hover, .rede1:hover{
    background-color: rgb(28, 201, 231);
    cursor: pointer;

}
.rede:hover, .rede1:hover .rede2{
    color:rgb(255, 255, 255);
    cursor: pointer;

}

.made{
    color: rgb(156, 155, 155);
    text-align: center;
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: -28%;
}
.the{
    color: rgb(156, 155, 155);
    text-align: center;
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: 3%;
  
}

.the:hover{
    color: rgb(28, 201, 231);
    cursor: pointer;

}
form{
    margin-top: -27%;
    margin-left: 58%;
    margin-bottom: -2%;
}
::placeholder{
 
    color:rgb(156, 155, 155);
    font-size: 14px;
}
input[name="msg"]{
    border: none;
  
}
textarea[id="nome"]{
    border: none;
   
}
.formulary{
    display: flex;
    flex-direction: row;
}
.risca{
    margin-right: 5%;
    margin-bottom: 4%;
    padding-bottom: 3%;
    padding-right: 10%;
    border-bottom: 1px solid rgb(156, 155, 155);
}
.risca:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.botaos{
    font-size: 13px;
    font-weight: 800;
    background-color: #1cc9e7;
    border: #1cc9e7;
    color: rgb(255, 255, 255);
    border-radius: 26px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 38%;
    padding-right: 38%;
   
}
.botaos:hover{
    color: rgb(255, 255, 255);
    background-color: #600783;
    border-radius: 26px;
    cursor: pointer;
    
}
.mais{
    font-size:131px;
    font-weight: 100;
    margin-bottom: 0%;
    margin-top: 10%;
    

}
.wood{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0%;
}
.here{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0%;
}
.efeito{
    position: absolute;
    top:33%;
    left: 9.5%;
    color: rgb(255, 255, 255);
    background-color: #1cc9e700;
    color: #1cc9e700;
    width: 22%;
    height: 24%;
    text-align: center;
    
}
.efeito:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7b4;
    z-index: 3000;
     
}
.efeito1{
    position: absolute;
    top:33%;
    left: 41%;
    color: rgb(255, 255, 255);
    background-color: #1cc9e700;
    color: #1cc9e700;
    width: 22%;
    height: 24%;
    text-align: center;
    
}
.efeito1:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7b4;
    z-index: 3000;
     
}
.efeito2{
    position: absolute;
    top:33%;
    left: 72%;
    color: rgb(255, 255, 255);
    background-color: #1cc9e700;
    color: #1cc9e700;
    width: 22%;
    height: 24%;
    text-align: center;
    
}
.efeito2:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7b4;
    z-index: 3000;
     
}
.efeito3{
    position: absolute;
    top: 66%;
    left: 9.5%;
    color: rgb(255, 255, 255);
    background-color: #1cc9e700;
    color: #1cc9e700;
    width: 22%;
    height: 24%;
    text-align: center;
    z-index: 3000;
    
    
}
.efeito3:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7b4;
    z-index: 3000;
     
}
.efeito4{
    position: absolute;
    top: 66%;
    left: 41%;
    color: rgb(255, 255, 255);
    background-color: #1cc9e700;
    color: #1cc9e700;
    width: 22%;
    height: 24%;
    text-align: center;
    z-index: 3000;
    
}
.efeito4:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7b4;
    z-index: 3000;
     
}
.efeito5{
    position: absolute;
    top: 66%;
    left: 72%;
    color: rgb(255, 255, 255);
    background-color: #1cc9e700;
    color: #1cc9e700;
    width: 22%;
    height: 24%;
    text-align: center;
    z-index: 3000;
    
}
.efeito5:hover{
    color: rgb(255, 255, 255);
    background-color: #1cc9e7b4;
    z-index: 3000;
     
}